@font-face {
  font-family: "klavika";
  src: url("../font/klavika-regular-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "klavika-light";
  src: url("../font/klavika-light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  font-family: "klavika-light", sans-serif;
  margin: 0;
  overflow: hidden;
  background-color: #101010;
}

a {
  color: #fff;
}

nav {
  margin: 32px 0;
}

nav a {
  text-decoration: none;
}

nav i {
  margin: 0 10px;
}

#load{
  width:100%;
  height:100%;
  position:fixed;
  z-index:9999;
}

#load div {
  position: fixed;
  top: 50%;
  left: 45%;
}

#load div img {
  animation: MoveUpDown 1s linear infinite;
  position: absolute;
  left: 0;
  bottom: 0;
  padding-bottom: 50px;
}

@keyframes MoveUpDown {
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}

.typewriter p {
  color: #fff;
  font-family: "klavika-light", sans-serif;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: .15em solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  letter-spacing: .15em; /* Adjust as needed */
  animation: 
    typing 3.5s steps(30, end),
    blink-caret .5s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink-caret {
  from, to { border-color: transparent }
  50% { border-color: orange }
}

#load div .typewriter p {
  margin-left: -40px;
}

/* Slider container */
.slider {
  height: 100vh;
  min-height: 580px;
  margin: auto;
  background-image: url('../images/background.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  transition: background-position 1s ease-in-out;
}

.slide {
  display: none;
}

.active-slide {
  display: block;
}

/* Next & previous buttons */
.prev, .next {
  display: none;
  position: absolute;
  top: 38vh;
  text-align: center;
  color: #fff;
  cursor: pointer;
  width: 90px;
  transition: .1s linear;
  -webkit-transition: .1s linear;
  margin-left: 15px;
}

/* Position the "next button" to the right */
.next {
  display: block;
  right: 0px;
}

.prev::before, .next::before {
  border-style: solid;
  border-width: 2px 2px 0 0;
  content: '';
  display: inline-block;
  height: 33px;
  width: 33px;
}

.prev::before {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.next::before {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  margin-right: 15px;
}

.prev:hover, .next:hover {
  opacity: 0.5;
}

.prev:hover {
  transform: translateX(-5%);
  -webkit-transform: translateX(-5%);
}

.next:hover {
  transform: translateX(5%);
  -webkit-transform: translateX(5%);
}

.logo {
  position: absolute;
  right: 28px;
  bottom: 1px;
}

.logo img {
  width: 97px;
  height: auto;
  -webkit-filter: invert(100%);
  filter: invert(100%);
}

/* Caption text */
.slide .text {
  color: #fff;
  font-size: 28px;
  padding: 8px 12px;
  position: absolute;
  margin-top: -100px;
  top: 48vh;
  left: 90px;
  width: 550px;
}

.slide .text h1 {
  text-transform: uppercase;
  letter-spacing: 2px;
  border-bottom: 1px solid #fff;
  display: inline;
}

.slide:first-of-type .text,
.slide:last-of-type .text {
  margin: 0;
  top: 10px;
}

.slide:first-of-type .text {
  left: 30px;
}

.slide:nth-child(n+4):nth-child(-n+6) .text, 
.slide:nth-child(10) .text {
  left: auto;
  right: 90px;
  text-align: right;
}

.slide:nth-child(6) .text {
  top:40vh;
}

.slide:last-of-type .text {
  right: 30px;
}

/* Number text (1/8 etc) */
.slide .numbertext {
  color: #f2f2f2;
  font-weight: normal;
  font-size: 14px;
  text-shadow: 2px 1px #000;
  padding: 8px 12px;
  position: absolute;
  bottom: 24px;
  left: 300px;
  text-align: left;
}

.slide:first-of-type .numbertext {
  bottom: 100px;
  left: 16px;
}

.slide:last-of-type .numbertext {
  top: 39vh;
  right: 30px;
  bottom: auto;
  left: auto;
  text-align: right;
}

table {
  position: absolute;
  bottom: 30px;
  left: 30px;
}

table, td {
  margin-left: auto;
  margin-right: auto;
  border: 2px dotted white;
  border-collapse: collapse;
}

td {
  display: table-cell;
}

/* The dots/bullets/indicators */
.dot {
	text-align: center;
  vertical-align: middle;
  cursor: pointer;
  width: 15px;
  height: 15px;
  margin: -3px 3px 0 3px;
  font-size: 15px;
  color: #fff;
  display: inline-block;
}

.active-dot {
  background-color: #fff;
}

.dot:hover {
  color: #717171;
  transition: color 0.2s ease;
}

.active-dot:hover {
  color: #fff;
}

/* Animations */
.fade {
  animation: fade 1.5s;
  -webkit-animation: fade 1.5s;
}

@keyframes fade {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

@-webkit-keyframes fade {
  0% {opacity: 0;}
  75% {opacity: 0;}
  100% {opacity: 1;}
}

.slide-in {
  animation: slide-in 2s forwards;
  -webkit-animation: slide-in 2s forwards;
}

@keyframes slide-in {
  0% {transform: translateX(100%);}
}

@-webkit-keyframes slide-in {
  0% {-webkit-transform: translateX(100%);}
}

.zoom-in {
  animation: zoom-in 0.1s;
  -webkit-animation: zoom-in 0.1s;
}

@keyframes zoom-in {
  0% {transform: scale(0.5);}
  100% {transform: scale(1);}
}

@-webkit-keyframes zoom-in {
  0% {-webkit-transform: scale(0.5);}
  100% {-webkit-transform: scale(1);}
}

/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  #load div {
    left: 35%;
  }

  .slide .text {
    width: 300px;
  }

  .slide .text h1 {
    font-size: 1em;
  }

  table {
    bottom: 60px;
  }

  .slide .numbertext {
    left: 0;
  }
}

@media screen and (max-width: 470px) {
  .logo {
    right: 18px;
    bottom: -12px;
  }

  .slide .text {
    width: 200px;
  }

  .slide .text h1 {
    font-size: 0.7em;
  }

  table {
    bottom: 100px;
  }

  .slide .numbertext {
    bottom: 70px;
  }

  .slide:first-of-type .numbertext {
    bottom: 130px;
  }

  .slide:last-of-type .numbertext {
    top: 45vh;
    right: 6px;
  }
}